.index {

    padding: 0;

}

.index___title-section {

    display: flex;
    background-color: rgb(18, 60, 77);
    color: white;

}

.index___title-section___single-side {

    width: 50%;
    text-align: center;
    padding: 0.5rem;

}

.index___title-section___single-side___title {

    font-size: 2rem;
    margin: 0.5rem 0;

}

.index___title-section___single-side___image {

    width: 100%;
    height: 30rem;
    background-color: rgb(138, 138, 138);
    object-fit: cover;
    border-radius: 10%;

}

.index___body {

    padding: 1rem;

}

.index___body___intro {

    font-size: 1.25rem;
    margin-bottom: 1rem;
    display: flow-root;

}

.index___body___services {

    display: flex;
    gap: 2.5rem;
    margin-bottom: 2.5rem;

}

.index___body___services___item {

    width: 33%;
    box-shadow: -6px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(212, 253, 254);
    border: 1px solid rgb(18, 60, 77);
    padding: 1rem;
    transition: box-shadow 0.25s ease, scale 0.25s ease, opacity 0.5s ease, transform 0.5s ease;
    border-radius: 10px;
    opacity: 0;
    transform: translateX(-100vw);


}

.index___body___services___item:hover {

    box-shadow: -12px 12px 0 rgba(0, 0, 0, 0.2);
    scale: 1.03;

}

.index___body___services___item___title {

    color: rgb(18, 60, 77);
    font-size: 1.5rem;
    margin: 0;

}

.index___body___services___button {

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: rgb(18, 60, 77);
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;

}

.index___body___services___button___image {

    width: 50%;
    padding: 2.5rem;

}

.index___body___locations {

    overflow: hidden;
    width: calc(100% + 2rem);
    margin: 1rem -1rem 1.5rem;

}

.index___body___locations___slider {

    display: flex;
    gap: 1rem;
    will-change: transform;
    height: 6rem;

}

.index___body___locations___slider___item {

    flex: 0 0 calc((100% - 3rem) / 4);
    box-sizing: border-box;
    margin: 0;
    padding: 1rem;
    background-color: rgb(212, 253, 254);
    border: 1px solid rgb(18, 60, 77);
    border-radius: 20px;
    color: rgb(18, 60, 77);
    height: 5rem;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -6px 6px 0 rgba(0, 0, 0, 0.2);

}

.index___body___reviews {

    display: flex;
    flex-wrap: wrap;

}

.index___body___reviews___button {

    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    border-radius: 10px;
    border: 1px solid rgb(18, 60, 77);
    padding: 0.25rem 0.75rem;
    margin: 1rem;
    font-size: 2rem;
    text-decoration: none;
    color: rgb(18, 60, 77);
    background-color: rgb(212, 253, 254);
    box-shadow: -6px 6px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.25s ease, transform 0.25s ease, gap 0.25s ease;

}

.index___body___reviews___button:hover {

    box-shadow: -12px 12px 0 rgba(0, 0, 0, 0.2);
    gap: 2.5rem;
    transform: scale(1.03);

}

.index___body___reviews___button___image {

    width: 4rem;
    height: 4rem;
    display: block;

}


@media (max-width: 600px) {

    .index___title-section___single-side___image {

        height: 10rem;

    }

    .index___body___services {

        gap: 1rem;

    }

    .index___body___reviews___button {

        width: 80%;

    }

}
