.services___list___item {

    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-top: 2px solid rgb(18, 60, 77);

}

.services___list___item___information___title {

    font-size: 1.25rem;
    color: rgb(18, 60, 77);

}

.services___list___item___information___body {

    font-size: 0.9rem;
    color: black;
    text-wrap: pretty;

}

.services___list___item___boxes {

    box-sizing: border-box;

}

.services___list___item___boxes___price {

    width: 20rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    border-radius: 10px;
    border: 1px solid rgb(18, 60, 77);
    padding: 0.25rem 0.75rem;
    margin: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(18, 60, 77);
    background-color: rgb(212, 253, 254);
    box-shadow: -6px 6px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.25s ease, transform 0.25s ease, gap 0.25s ease;

}

.services___list___item___boxes___price:hover {

    box-shadow: -12px 12px 0 rgba(0, 0, 0, 0.2);
    gap: 2.5rem;
    transform: scale(1.03);

}

.services___list___item___boxes___price___image {

    width: 4rem;
    height: 4rem;
    display: block;

}


@media (max-width: 600px) {

    .services___list___item___boxes___price {

        width: 10rem;

    }

}